<div class="container">
  <p align="center">
    <strong>Please authenticate with Yammer to continue</strong>
  </p>

  <div class="hero-unit" style="margin-top: 7%">
    <div align="center">

      
      	<!--<a href="https://www.yammer.com/dialog/oauth?client_id=<%=@client_id%> -->
      		<p>
      			<a href="https://www.yammer.com/dialog/oauth?client_id=[:gCKEes0ovKzofP9giKQ]&redirect_uri=[:http://ancient-island-1993.herokuapp.com/yammer/success/]"><button class="btn-large btn btn-success">Authenticate with Yammer</button>
      			</a>
      		</p>
    </div>
  </div> <!-- /container -->

</div>


